body {
  background-image: url("/image/background.png");
}
#heading {
  text-align: center;
}
h1,
h3 {
  color: yellow;
}
a {
  color: yellow;
}
p {
  color: white;
}
.row {
  display: flex;
  justify-content: center;
}
.img,
.img-hover {
  height: 150px;
  width: 150px;
  margin-top: 50px;
}

.image-container {
  display: flex;
  align-items: center;
}
.line {
  margin-top: 46px;
}
